{% extends "base.html" %}
{% block content %}
<section class="featured">
    <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-6 col-md-offset-3">
          <div class="align-center">
            <i class="fa fa-book fa-5x mar-bot20"></i>
            <h2 class="slogan">Привет!</h2>
            <p>
              Добро в наш проект!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about -->
  <section id="section-about" class="section appear clearfix">
    <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Начинай cейчас</h2>
            <p><a href="dashboard" type="button" class="btn btn-primary">Старт</a></p>
          </div>
        </div>
      </div>
      <div class="row align-center mar-bot40"></div>
    </div>
  </section>
{% endblock %}
