{% extends "base.html" %}
{% block content %}
<section class="dashboard">
        <div class="container">
                <div class="row mar-bot40">
                        <div class="col-md-6 col-md-offset-3">
                                <div class="align-center">
					<h2 class="slogan">грамматика</h2>
                                </div>
                        </div>
                </div>
        </div>
	<div class="well">
		<h3>Spelling Rules</h3>
		<h5>When forming the nominative plural of nouns, recall that if the stem ends in <b>г, ж, к, х, ч, ш</b>, or <b>щ</b>, you add <b>и</b>, not <b>ы</b>. This 7-letter spelling rule 
also applies to adjectives. This is why adjectives whose stem ends in one of these seven letters have the <b>-ий</b> ending instead of <b>-ый</b>. Four of these letters are also in the 5-letter 
spelling rule. This states that, if the stem ends in <b>ж, ц, ч, ш</b>, or <b>щ</b>, any unstressed <b>o</b> in an ending is instead written as <b>e</b>.</h5>
		<h5>From <a href="http://en.wikibooks.org/wiki/Russian/Grammar/Adjectives">Wikibooks</a></h5>
		<h5>Ex.
		<del>хорошое письмо</del> хорошее письмо</h5>
		<br>
		<h3>Noun Declensions</h3>
		<h5>
	<table class="table">
        <tbody>
          <tr>
            <td align="middle"><b>Cases</b></td>
            <td align="middle"><b>Singular Noun Endings</b></td>
            <td align="middle" colspan="5"><b>Examples</b></td>
          </tr>
          <tr>
            <td align="middle">Nominative</td>
            <td align="middle"><strong>-а, -я, -ия</strong></td>
            <td align="middle">трав<strong><u>а</u></strong></td>
            <td align="middle">земл<strong><u>я</u></strong></td>
            <td align="middle"><u>ю</u>нош<strong>а</strong></td>
            <td align="middle">х<u>и</u>ми<strong>я</strong></td>
            <td align="middle">Вал<u>е</u>ри<strong>я</strong></td>
          </tr>
          <tr>
            <td align="middle">Genitive</td>
            <td align="middle"><strong>-ы, -и</strong></td>
            <td align="middle">трав<strong><u>ы</u></strong></td>
            <td align="middle">земл<strong><u>и</u></strong></td>
            <td align="middle"><u>ю</u>нош<strong>и</strong></td>
            <td align="middle">х<u>и</u>ми<strong>и</strong></td>
            <td align="middle">Вал<u>е</u>ри<strong>и</strong></td>
          </tr>
          <tr>
            <td align="middle">Dative</td>
            <td align="middle"><strong>-е, -и</strong></td>
            <td align="middle">трав<strong><u>е</u></strong></td>
            <td align="middle">земл<strong><u>е</u></strong></td>
            <td align="middle"><u>ю</u>нош<strong>е</strong></td>
            <td align="middle">х<u>и</u>ми<strong>и</strong></td>
            <td align="middle">Вал<u>е</u>ри<strong>и</strong></td>
          </tr>
          <tr>
            <td align="middle">Accusative</td>
            <td align="middle"><strong>-у, -ю</strong></td>
            <td align="middle">трав<strong><u>у</u></strong></td>
            <td align="middle">з<u>е</u>мл<strong>ю</strong></td>
            <td align="middle"><u>ю</u>нош<strong>у</strong></td>
            <td align="middle">х<u>и</u>ми<strong>ю</strong></td>
            <td align="middle">Вал<u>е</u>ри<strong>ю</strong></td>
          </tr>
          <tr>
            <td align="middle">Instrumental</td>
            <td align="middle"><strong>-ой, -ей</strong></td>
            <td align="middle">трав<strong><u>о</u>й</strong></td>
            <td align="middle">земл<strong><u>ё</u>й</strong></td>
            <td align="middle"><u>ю</u>нош<strong>ей</strong></td>
            <td align="middle">х<u>и</u>ми<strong>ей</strong></td>
            <td align="middle">Вал<u>е</u>ри<strong>ей</strong></td>
          </tr>
          <tr>
            <td align="middle">Prepositional</td>
            <td align="middle"><strong>-е, -и</strong></td>
            <td align="middle">трав<strong><u>е</u></strong></td>
            <td align="middle">земл<strong><u>е</u></strong></td>
            <td align="middle"><u>ю</u>нош<strong>е</strong></td>
            <td align="middle">х<u>и</u>ми<strong>и</strong></td>
	    <td align="middle">Вал<u>е</u>ри<strong>и</strong></td>
	</tr>
	</tbody>
	</table>
		</h5>
	</div>
</section>
{% endblock %}
